{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Site list</h1>
    
    <table>


{# table body #}
{% for entity in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <td>{{ entity.id }}</td>
    <td>{{ entity.name }}</td>
    <td>{{ entity.url }}</td>
    <td>{{ entity.isactive }}</td>
    <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
</tr>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
     <ul>
        <li>
            <a href="{{ path('site_new') }}">
                Create a new entry
            </a>
        </li>
    </ul> 
    {% endblock %}
